@import 'src/styles/variables';

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto 0 auto;
  width: 90%;
  flex-wrap: wrap;

  &__navbar{
    display: flex;
    a{
      color: $cinza;
      padding: 16px;
    }
  }
}